<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    backupGlobals="false"
    bootstrap="tests/bootstrap.php"
    colors="true"
    forceCoversAnnotation="true"
    processIsolation="false"
    report-useless-tests="true"
    disallow-test-output="true">

    <testsuite name="TrelloCli">
        <directory suffix="Test.php">tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory>src/TrelloCli/Command</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
