name: PHP
on: push
jobs:
  build:
    strategy:
      matrix:
        php-version: [7.4]
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: make install

      - name: Lint
        run: make lint

      - name: Static analysis
        run: make static-phpstan

      - name: Test
        run: make test
